@using System.Reflection
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@inject LazyAssemblyLoader AssemblyLoader

<Router AppAssembly="@typeof(App).Assembly" 
    AdditionalAssemblies="@LoadingAssemby" 
    OnNavigateAsync="@NavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    public List<Assembly> LoadingAssemby = new();

    public async Task NavigateAsync(NavigationContext args)
    {
        try
        {
            if(args.Path.StartsWith("reciclo"))
            {
                var assemblies = await AssemblyLoader.LoadAssembliesAsync(new[] { "Reciclo.dll" });
                LoadingAssemby.AddRange(assemblies);
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}